div#bottomButton.bottom-button
   div.bottom-bar-button-box
      button.bottom-bar-button.bottom-bar-button-special(
         ng-class="btnCss()"
         ng-disabled="!onBtn1Disable()"
         ng-click="onBtn1Click()"
         ng-bind="btn1BindText()"
         ng-show="btn1show()"
      )
      button.bottom-bar-button.bottom-bar-button-special(
         ng-class="btnCss()"
         ng-disabled="!onBtn2Disable()"
         ng-click="onBtn2Click()"
         ng-bind="btn2BindText()"
         ng-show="btn2show()"
      )
      button.bottom-bar-button.bottom-bar-button-special(
         ng-class="btnCss()"
         ng-disabled="!onBtn3Disable()"
         ng-click="onBtn3Click()"
         ng-bind="btn3BindText()"
         ng-show="btn3show()"
      )

